.appContainer {
  height: 100%;
  overflow: auto;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.header {
  margin-bottom: 40px;
}
